language: python
sudo: required
dist: xenial

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"

matrix:
  include:
  - name: Code Checks
    python: 3.6
    stage: linters
    env: TOXENV=code-linters
  - name: CloudFormation Templates Checks
    python: 3.6
    stage: linters
    env: TOXENV=cfn-format-check,cfn-lint
  - name: Docs Checks
    python: 3.6
    stage: linters
    env: TOXENV=docs-linters
    before_install:
      # Needed to run docs-linters target in tox.
      - sudo apt-get update && sudo apt-get install -y enchant

install:
  - pip install tox-travis

script: cd cli && tox
