../../api/client/src
argparse
assertpy
boto3
cfn_flip
click
fabric
filelock
jinja2
junitparser
matplotlib
pexpect
pykwalify
pyOpenSSL
pytest
pytest-datadir
pytest-html
pytest-rerunfailures
pytest-sugar
pytest-xdist
PyYAML
requests
requests
retrying
troposphere
untangle
