../../api/client/src
PyYAML
argparse
assertpy
boto3
cfn_flip
#https://github.com/fabric/fabric/issues/2204
fabric==2.6.0
filelock
jinja2
junitparser
pexpect
pyOpenSSL
pykwalify
pytest
pytest-datadir
pytest-html
pytest-rerunfailures
pytest-sugar
pytest-xdist
requests
retrying
troposphere
untangle
