#!/bin/bash

set -e

cat > "/opt/slurm/etc/custom_partitions.conf" << EOF
NodeSet=custom_part_1_nodes Nodes={{ partition }}-st-{{ cr }}-[1-10]
NodeSet=custom_part_2_nodes Nodes={{ partition }}-st-{{ cr }}-[4-14]
NodeSet=custom_part_3_nodes Nodes={{ partition }}-st-{{ cr }}-[5-15]
PartitionName=custom_part_0 Nodes={{ partition }}_nodes PreemptMode=REQUEUE PriorityTier=10 GraceTime=600 Default=YES MaxTime=72:00:00
PartitionName=custom_part_1 Nodes=custom_part_1_nodes PreemptMode=REQUEUE PriorityTier=20 GraceTime=600 MaxTime=72:00:00
PartitionName=custom_part_2 Nodes=custom_part_2_nodes PreemptMode=REQUEUE PriorityTier=20 GraceTime=600 MaxTime=72:00:00
PartitionName=custom_part_3 Nodes=custom_part_3_nodes PreemptMode=REQUEUE PriorityTier=20 GraceTime=600 MaxTime=72:00:00
EOF

SLURM_CONF="/opt/slurm/etc/slurm.conf"

sed -i '/^include custom_partitions.conf /d' ${SLURM_CONF}
echo 'include custom_partitions.conf' | sudo tee -a ${SLURM_CONF}

systemctl status slurmctld
sudo -i scontrol reconfigure
