
   ___ ___ _  _  ___ _   _   _ ___ _____ ___ ___ 
  / __| __| \| |/ __| | | | | / __|_   _| __| _ \
 | (__| _|| .` | (__| |_| |_| \__ \ | | | _||   /
  \___|_| |_|\_|\___|____\___/|___/ |_| |___|_|_\
                                                 
              Welcome to CFNCLUSTER!
 A simple way to launch HPC clusters on AWS.
 
 This is the Master server.

