[flake8]
ignore =
    # D105:  Missing docstring in magic method
    D105,
    # D100: Missing docstring in public module
    D100,
    # D104: Missing docstring in public package
    D104,
    # D107: Missing docstring in __init__
    D107,
    # D103: Missing docstring in public function
    D103,
    # W503: line break before binary operator => Conflicts with black style.
    W503,
    # D413: Missing blank line after last section
    D413,
    # F821: undefined name
    F821,
    # N818: exception name should be named with an Error suffix
    N818,
    # B028: Consider replacing f"'{foo}'" with f"{foo!r}".
    # Currently being disabled by flake8-bugbear. See https://github.com/PyCQA/flake8-bugbear/pull/333
    B028
# D101 Missing docstring in public class
# D102 Missing docstring in public method
# D202 No blank lines allowed after function docstring
# D205 1 blank line required between summary line and description
# D400 First line should end with a period
# D401 First line should be in imperative mood
# D403 First word of the first line should be properly capitalized
per-file-ignores =
    tests/*: D101, D102
    ../tests/integration-tests/*: D202, D205, D400, D401
    src/pcluster/api/models/*: D101, D202, D205, D400, D401, D403
    src/pcluster/api/awslambda/serverless_wsgi.py: D205, D400
    tests/pcluster3_config_converter/test_data.py: E501, W291
exclude =
    .tox,
    .git,
    .pytest_cache,
    docs/source/conf.py,
    build,
    dist,
    tests/fixtures/*,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs
max-complexity = 10
max-line-length = 120
import-order-style = google
application-import-names = flake8
format = %(cyan)s%(path)s%(reset)s:%(bold)s%(yellow)s%(row)d%(reset)s:%(bold)s%(green)s%(col)d%(reset)s: %(bold)s%(red)s%(code)s%(reset)s %(text)s
