[flake8]
ignore =
    D105, # Missing docstring in magic method
    D100, # Missing docstring in public module
    D104, # Missing docstring in public package
    D107, # Missing docstring in __init__
    D103, # Missing docstring in public function
    W503, # line break before binary operator => Conflicts with black style.
    D413, # Missing blank line after last section
# E402 module level import not at top of file
# D101 Missing docstring in public class
# D102 Missing docstring in public method
# D205 1 blank line required between summary line and description
# D400 First line should end with a period
# D401 First line should be in imperative mood
per-file-ignores =
    src/pcluster/configure/easyconfig.py: E402
    src/pcluster/utils.py: E402
    tests/*: D101, D102
    ../tests/integration-tests/*: D205, D400, D401
exclude =
    .tox,
    .git,
    .pytest_cache,
    docs/source/conf.py,
    build,
    dist,
    tests/fixtures/*,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs
max-complexity = 10
max-line-length = 120
import-order-style = google
application-import-names = flake8
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
