boto3>=1.16.14
tabulate~=0.8
PyYAML~=5.3
jinja2~=3.0
marshmallow~=3.10
aws-cdk.core~=1.137
aws-cdk.aws-batch~=1.137
aws_cdk.aws-cloudwatch~=1.137
aws-cdk.aws-codebuild~=1.137
aws-cdk.aws-dynamodb~=1.137
aws-cdk.aws-ec2~=1.137
aws-cdk.aws-efs~=1.137
aws-cdk.aws-events~=1.137
aws-cdk.aws-fsx~=1.137
aws-cdk.aws-imagebuilder~=1.137
aws-cdk.aws-iam~=1.137
aws_cdk.aws-lambda~=1.137
aws-cdk.aws-logs~=1.137
aws-cdk.aws-route53~=1.137
aws-cdk.aws-ssm~=1.160
aws-cdk.aws-sqs~=1.137
aws-cdk.aws-cloudformation~=1.137
werkzeug~=2.0
connexion~=2.13.0
flask~=2.0
jmespath~=0.10
