aws-cdk.aws-batch~=1.204
aws-cdk.aws-cloudformation~=1.164
aws-cdk.aws-codebuild~=1.164
aws-cdk.aws-dynamodb~=1.164
aws-cdk.aws-ec2~=1.164
aws-cdk.aws-efs~=1.164
aws-cdk.aws-events~=1.164
aws-cdk.aws-fsx~=1.164
aws-cdk.aws-iam~=1.164
aws-cdk.aws-imagebuilder~=1.164
aws-cdk.aws-logs~=1.164
aws-cdk.aws-route53~=1.164
aws-cdk.aws-sqs~=1.164
aws-cdk.aws-ssm~=1.164
aws-cdk.core~=1.164
aws_cdk.aws-cloudwatch~=1.164
aws_cdk.aws-lambda~=1.164
boto3>=1.16.14
connexion~=2.13.0
flask>=2.2.5,<2.3
jinja2~=3.0
jmespath~=0.10
jsii==1.85.0
marshmallow~=3.10
PyYAML>=5.3.1,!=5.4
tabulate>=0.8.8,<=0.8.10
werkzeug~=2.0
