*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
