name: ParallelCluster CI

on: [push, pull_request]

jobs:
  depcheck:
    runs-on: ubuntu-latest
    name: DepCheck
    steps:
      - uses: actions/checkout@v2
      - name: Dependency Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          path: './cli'
          format: 'HTML'
          project: 'aws-parallelcluster'
      - name: Upload Test results
        uses: actions/upload-artifact@master
        with:
          name: Depcheck report
          path: ${{github.workspace}}/reports
          project: 'aws-parallelcluster'
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        name:
          - Python 3.6 Tests
          - Python 3.7 Tests
          - Python 3.8 Tests
          - Python 3.9 Tests
          - Python 3.8 Tests Coverage
          - Code Checks
          - CloudFormation Templates Checks
          - Integration Tests Config Checks
        include:
          - name: Python 3.6 Tests
            python: 3.6
            toxdir: cli
            toxenv: py36-nocov
          - name: Python 3.7 Tests
            python: 3.7
            toxdir: cli
            toxenv: py37-nocov
          - name: Python 3.8 Tests
            python: 3.8
            toxdir: cli
            toxenv: py38-nocov
          - name: Python 3.9 Tests
            python: 3.9
            toxdir: cli
            toxenv: py39-nocov
          - name: Python 3.8 Tests Coverage
            python: 3.8
            toxdir: cli
            toxenv: py38-cov
          - name: Code Checks
            python: 3.7
            toxdir: cli
            toxenv: code-linters
          - name: CloudFormation Templates Checks
            python: 3.7
            toxdir: cli
            toxenv: cfn-format-check,cfn-lint,cfn-tests
          - name: Integration Tests Config Checks
            python: 3.7
            toxdir: tests/integration-tests
            toxenv: validate-test-configs

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Run Tox
        run: cd ${{ matrix.toxdir }} && tox -e ${{ matrix.toxenv }}
