# Automatically generates the OpenAPI spec file from the Smithy model and commits it to the PR branch
name: ParallelCluster OpenAPI Generator
on:
  push:
    branches-ignore:
      - develop
      - release-*
    tags-ignore:
      - v*
jobs:
  generate-openapi-model:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: |
          sudo npm install -g redoc-cli
          sudo snap install yq
      - working-directory: api
        run: ./gradlew buildSmithyModel openApiValidate redoc
      - uses: EndBug/add-and-commit@v7
        with:
          add: 'api/spec/openapi'
          message: 'Generate OpenAPI model'
          signoff: true

